PRIVATE_KEY=
RELAYER_PRIVATE_KEY=
SEPOLIA_RPC_URL=
POLYGON_RPC_URL=
RELAYER_ADDRESS=
ORIGIN_CONTRACT=
DESTINATION_CONTRACT=
REACTIVE_CONTRACT=
CALLBACK_PROXY=
ORIGIN_CHAIN_ID=11155111
DESTINATION_CHAIN_ID=137
INITIAL_PRIZE_POOL=0.1
REWARD_AMOUNT=0.005
NEXT_PUBLIC_ORIGIN_CONTRACT=
NEXT_PUBLIC_DESTINATION_CONTRACT=
NEXT_PUBLIC_ORIGIN_EXPLORER=https://sepolia.etherscan.io/tx/
NEXT_PUBLIC_DESTINATION_EXPLORER=https://polygonscan.com/tx/
